html {
    scroll-behavior: smooth; 

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

section {
    overflow: hidden; 
    padding: 60px 0;
}

body {
    margin-top: 56px;
    overflow-x: hidden;
    user-select: none;
}

.image-png {
    width: 500px;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#home-section {
    background-color: #f9f9f9;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

#home-section p {
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, serif;
}

.project-container {
    min-height: 80vh;
    display: flex;
    align-items: center;
}

.card-project {
    background: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.col-md-6 h2 {
    text-align: left;
    font-family: 'Arial Black', Gadget, sans-serif;
}

.col-md-6 img {
    width: 300px;
    margin: 10px;

}
#source-code-section h2 {
     text-align: left;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#source-code-section img {
    width: 300px;
    margin: 10px;
}

#source-code-section-3 h2 {
     text-align: left;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#source-code-section-3 img {
    width: 300px;
    margin: 10px;
}

.project-container-alt {
    background: linear-gradient(135deg, #120a2a, #0a0f1c, #020617);
    color: white;
}

#list-wrapper {
    background-color: #ff0000;
    border-radius: 18px;
    border: 2px solid #000;
}

#daftar-siswa-list {
    list-style: none;
    text-align: left;
    padding: 0;
    font-family: 'Courier New', monospace;
}

#daftar-siswa-list li {
    background-color: #d0ff00;
    color: black;
    border: 1px solid #000;
    margin-bottom: 2px;
    padding: 2px 10px;
}

#text-jam {
    margin-left: -20px;
}

.logo-skil {
   /* background-color: #ff0000; */
   padding: 10px;
   border-radius: 10px;
   margin-left: 70px;
}

.logo-skil img {
    width: 200px;
    margin: 10px;
    border-radius: 20px;
    gap: 10px;
    margin-right: 150px;
}

.btn-custom-genap { background-color: blue; color: white; border-radius: 70px; }
.btn-custom-ganjil { background-color: #ff00ff; color: white; border-radius: 70px; }
.btn-custom-semua { background-color: #08ad31; color: white; border-radius: 70px; }

.jam-wrapper {
    background: radial-gradient(circle, #b4d5fa, #096cee);
    width: 280px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

#box-jam-digital {
    display: inline-block;
    border-radius: 20px;
    padding: 10px;
    border: 8px solid black;
    background-color: white;
    color: black;
    transition: 0.3s;
}

#contact {
    border-top: 1px solid #ddd;
}

.contact-link {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 10px;
}

.contact-link i {
    font-size: 1.5rem;
}

/* Warna khusus saat di-hover */
.contact-link:hover {
    background-color: #f0f0f0;
    transform: translateY(-3px);
}

.contact-link:nth-child(1):hover { color: #db4437; } /* Merah Email */
.contact-link:nth-child(2):hover { color: #e4405f; } /* Pink Instagram */
.contact-link:nth-child(3):hover { color: #000000; } /* Hitam Tiktok */
.contact-link:nth-child(4):hover { color: #24292e; } /* Abu Github */

.border-merah { border-color: red !important; }
.border-biru { border-color: blue !important; }

footer {

    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 40px;
    height: 50px;

    
}
.footer-main p {
    margin: 20px;
    font-size: 14px;
    
}

@media (max-width: 768px) {
    .jam-wrapper, #list-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .image-png {
        width: 100%;
    }

    .logo-skil {
        margin-left: 0;
        text-align: center;
    }

    .logo-skil img {
        margin-left: 0;
        margin-right: 10px;
        text-align: center;
        width: 150px;
    }
}
